.education_item {
  display: flex;
  align-items: flex-start;
  margin-left: 1rem;
}

@media (max-width: 971px) {
  .education_item {
    margin-bottom: 1rem;
  }
}

@media (max-width: 300px) {
  .education_item {
    margin-left: 0;
  }
}
