.hero_container {
  padding: 5rem 0;
  color: #fff;
}
.hero_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 840px) {
  .hero_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
