.hero_content_title {
  font-size: 4rem;
}
.hero_content_description {
  font-size: 1.4rem;
  margin-top: 0.4rem;
  margin-bottom: 1.4rem;
}

@media (max-width: 990px) {
  .hero_content_text {
    margin-top: 4rem;
  }
}

@media (max-width: 840px) {
  .hero_content_text {
    margin-top: 0;
  }
  .hero_content_title {
    font-size: 3rem;
  }
  .hero_content_description {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .hero_content_text {
    font-size: 2rem;
  }
  .hero_content_description {
    font-size: 0.98rem;
  }
}

@media (max-width: 330px) {
  .hero_content_title {
    font-size: 2rem;
  }
  .hero_content_description {
    font-size: 0.88rem;
  }
}
