.header {
  /* background-image: url("../img/mountain.jpg");
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/mountain.jpg") no-repeat center center/cover; */
  background: linear-gradient(rgba(165, 115, 40, 0.3), rgba(0, 0, 0, 0.9)),
    url("../img/mountain.jpg") no-repeat center center/cover;
  width: 100%;
}
