.button {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  color: #333;
}
.buttton:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}
.button_med {
  padding: 0.3rem 0.5rem;
  font-size: 1.3rem;
}
.button_big {
  padding: 0.4rem 0.9rem;
  font-size: 1.2rem;
}
.button_small {
  padding: 0.3rem 0.7rem;
  font-size: 1.1rem;
}

.button_dark {
  background-color: #227b94;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.button_dark:hover {
  background: linear-gradient(
    rgba(34, 123, 148, 0.9),
    rgba(34, 123, 148, 0.79)
  );
  /* color: #0a4150; */
}
.button_text {
  background: none;
  border: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.button_text:hover {
  color: #227b94;
}

@media (max-width: 840px) {
  .button_text {
    color: #000;
  }
}
