.contact_container {
  text-align: center;
}

@media (max-width: 650px) {
  .contact_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 300px) {
  .contact_items {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
